<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=.\sqlexpress; AttachDbFilename=D:\documents\vs2010\SiqiDemo1\SiqiDemo1\LocationDB.mdf; Integrated Security=True; User Instance=True"/>
  </connectionStrings>
</configuration>